// Navigation code here

.navigation {
  .display(column, center, center);
  border: 2px solid @nav-border;
  width: 100%;
  margin: 0 auto;
  padding-top: 2%;
  background-color: @nav-bg;
  @media@phone {
    width: 80vw;
  }
  nav {
    .display(row, center, center);
    font-size: 2rem;
    padding: 2% 0 2%;
    width: 80%;
    @media@phone {
      width: 100%;
    }
    a {
      text-decoration: none;
      color: @nav-font;
      margin-left: 3%;

      &:hover {
        color: lighten(@nav-font, 30%);
      }
    }
  }
}
